ul.archive-col-list li {
  height: 230px !important;
  background: #fff;
-webkit-box-shadow: 0px 1px 2px 0.2px rgba(0,0,0,0.17);
-moz-box-shadow: 0px 1px 2px 0.2px rgba(0,0,0,0.17);
box-shadow: 0px 1px 2px 0.2px rgba(0,0,0,0.17);
}
ul.archive-col-list li:hover {
   animation: lift .2s linear;
  animation-fill-mode: forwards;
}

ul.archive-col-list li .archive-list-img {
    max-height: 190px;
}
ul.archive-col-list li .archive-list-in {
    float: none;
    position: absolute;
    z-index: 2;
    height: 40%;
    width: 100%;
    background: #fff;
    width: 100%;
    top: 77%;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 7px 10px 10px 10px !important;
}
ul.archive-col-list li .archive-list-in h2 {
  margin-top: 5px;
}

.archive-list-in {
  padding: 2px 15px 10px 20px !important;
}

.category-description{
    text-align: center;
    width: 90%;
    max-width: 720px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
   font-size: 18px;
   line-height: 1.25;
}

.category-description h1 {
  margin-bottom: 25px;
  font-size: 4em;
}
.category-description p {
  line-height: 1.5;
  color: #888;
}
#comments-button {
  margin-bottom: 15px;
}

.feat-info-wrap {
  display: none;
}

.author-bio-wrap {
  max-width: 700px;
  padding: 0 4%;
}
