.form-container {
  padding: 10px 20px 30px;
  margin: 10% auto;
  margin-bottom: 30px;
  width: 85%;
  max-width: 600px;
  border-radius: 8px;
  z-index: 1000;
  position: relative;
  background: rgba(0, 0, 0, .2);
}
.chromaform, #loginform {
  padding: 10px;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
}
.chromaform div, #loginform div {
  margin: 10px 0px;
}
.chromaform div label, #loginform label {
  display: block;
  margin: 10px 0px;
  height: 20px;
  text-align: left;
}
.chromaform  input[type=submit], #loginform input[type=submit] {
  width: 100%;
    text-align: center;
    vertical-align: top;
    height: 40px;
    color: white;
    padding: 12px 20px;
    margin: 14px 0 8px 0;
    display: inline-block;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 4px;
    background: rgba(0,0,0,0.2);
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.15);
    line-height: 1;
}
.wpcf7-submit {
    background-color: #00ffc1;
    color: #fff;
    height: 40px;
    width: 90%;
    max-width: 200px;
    line-height: 40px;
    border: none;
    border-radius: 4px;
    margin: 0;
    &:hover {
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.22);
  }
}
#loginform .login-remember label {
  float: left;
  margin-top: 0;
  margin-bottom: 30px;
  }
.login-remember label input {
  display: inline-block;
  vertical-align: middle;
}
.shortcode-box {
  overflow: hidden;
}
.shortcode-box p {
  line-height: 1.5;
  text-align: left;
  max-width: 85%;
  margin: 0 auto;
  margin-top: 10px;
}
.shortcode-box form p {
  max-width: 100%;
  text-align: center
}
.shortcode-box ul {
    min-height: 30px;
  }
.shortcode-box li {
  line-height: 1.5;
  color: #ff0050;
  animation: slide-left .7s;
}
.shortcode-box li:before {
   content:  "\2713 ";
}
.login-msg {
  margin-bottom: 10px;
  color: #ff0045;
}
input {
  height: 28px;
  width: 90%;
  padding-left: 5px;
  font-size: 1.15rem;
  font-weight: 400;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  -moz-box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-appearance: none;
}

input[type=submit], button {
      cursor: pointer;
    }
#registerform  input[type=submit] {
    margin-bottom: 10px;
    height: 40px;
    border: none;
    border-radius: 4px;
  }
input[type=checkbox] {
  -webkit-appearance: checkbox;
  display: block;
  margin: 15px 0px;
  width: 30px;
  box-shadow: none;
  margin: 15px 20px;
}
.g-recaptcha {
  margin-top: 20px;
  margin-bottom: 20px;
}
.g-recaptcha div {
  margin: 0 auto;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(255, 255, 255);
  }

fieldset {
  line-height: 2;
}

.oneall_social_login {
  margin: 0 auto;
  max-width: 500px;
}
.wp-social-login-provider-list {
	padding: 0px;
}
.wp-social-login-provider-list p {
		 display: inline-block;
		 margin-left: 12px;
	}
.search-form {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    border: none;
    color: #fff;
    font-size: 2rem;
    padding: 0 5px;
    margin: 0;
    box-shadow: none;
    display: inline-block;
  }
  .search-field {
    border-bottom: 1px solid rgba(255, 255, 255, .18);
    border-radius: 0;
    &:focus {
      outline: none;
    }
  }
}
.search-field {
  background: transparent;
  width: 90%;
  max-width: 950px;
  height: 50px;
  -webkit-autofill {
    -webkit-box-shadow: none;
  }
}
.search-submit {
  width: 50px;
  height: 50px;
  position: relative;
  background: transparent;
  input {
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.search-container {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 74px auto 12px;
  padding: 0px 4%;
}
.search-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555 !important;
  margin-bottom: 20px;
}
.search-item img {
  display: inline-block;
  width: 25%;
  border-radius: 4px;
  overflow: hidden;
}
.search-item-info {
  padding: 0 15px;
  display: inline-block;
  width: 75%;
  h2 {
    font-size: 1.2rem;
    line-height: 1.35;
    margin: 4px auto;
  }
  p {
    @media (max-width: 560px) {
      display: none;
    }
  }
  @media (max-width: 320px) {
    h2 {
      font-size: .92rem;
      font-weight: 600;
    }
  }
}
.signup_sidebar {
  &--input {
    width: 70%;
    display: inline-block;
    margin: 12px 0px 0px 0px;
    height: 40px;
  }
  &--submit {
    width: 23%;
    height: 40px;
    margin-left: 2%;
    border: none;
    border-radius: 4px;
    color: #fff;
    background: linear-gradient(135deg, rgba(86,0,255,0.8), rgba(255,0,124,0.8));
  }
}
