.igContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2% 5%;
    margin: 3% 0;
    @media(min-width: 320px) and (max-width: 480px) {
        padding: 0;
    }
}

.igBox {
    width: 33%;
    height: 300px;
    position: relative;
    border: 1px solid white;
    @media(min-width: 320px) and (max-width: 480px) {
        height: 150px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:hover > .igOverlay {
        opacity: 0.8;
        @media(min-width: 320px) and (max-width: 1024px) {
            opacity: 0;
        }
    }
    &:hover > .igTitle {
        opacity: 1;
    }
}

.floatingContainer {
    position: relative;
}

.igInstructions {
    position: fixed;
    bottom: 0;
    text-align: center;
    background: black;
    opacity: 0.8;
    width: 100%;
    z-index: 10;
    transition: opacity 500ms;

    h1 {
        color: white;
        @media(min-width: 320px) and (max-width: 480px) {
            font-size: 1em;
        }
    }
}

.igOverlay {
    background: linear-gradient(135deg, rgb(72,49,255), rgb(255,80,166));
    opacity: 0;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    transition: opacity 500ms;
    border: 1px solid white;
}
.igTitle {
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    position: absolute;
    top: 35%;
    opacity: 0;
    transition: opacity 500ms;
    // iphone / mobile
    @media(min-width: 320px) and (max-width: 480px) {
        opacity: 1;
        color: white;
        font-size: 0.9em;
        bottom: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1.5;
        margin: 42% 0 0 0;
        text-align: center;
        max-height: 45px;
        background: linear-gradient(135deg, rgba(72,49,255, 0.6), rgba(255,80,166,0.6))
    }
    // ipad
    @media(min-width: 481px) and (max-width: 768px) {
        opacity: 1;
        color: white;
        font-size: 0.9em;
        bottom: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1.5;
        margin: 65% 0 0 0;
        text-align: center;
        max-height: 45px;
        background: linear-gradient(135deg, rgba(72,49,255, 0.6), rgba(255,80,166,0.6))
    }
    // ipad landscape
    @media (min-width: 769px) and (max-width: 1024px) {
  
        opacity: 1;
        color: white;
        font-size: 0.9em;
        bottom: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1.5;
        margin: 49% 0 0 0;
        text-align: center;
        max-height: 45px;
        background: linear-gradient(135deg, rgba(72,49,255, 0.6), rgba(255,80,166,0.6))
        
      }
      
}