.relative {
	position: relative;
	}

.right {
	float: right;
	}

.left {
	float: left;
	}

.facebook-share,
.twitter-share,
.pinterest-share,
.email-share,
.reddit-share,
.google-share
{
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
		transition: all .25s;
}
