.social-sharing-controller {
  opacity: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1000;
  backface-visibility: visible;
  transform: none;
  span {
    display: inline-block;
    vertical-align: top;
  }
  img {
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 18px;
    padding: 0px;
    line-height: 30px;
    box-sizing: content-box;
  }
  a:first-child div {
    margin-left: 0;
  }
  @media (max-width: 1290px) {
  		margin-left: 0px;
  		left: 5px;
  }
  @media (min-width: 1271px) {
    top: 41%;
    text-align: left;
    max-width: 40px;
    margin-left: -4%;
    a {
      display: flex;
    }
  }
  @media (max-width: 1270px) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgba(255,255,255,.2);
    bottom: 0px;
    width: 100%;
    height: 50px;
    margin: 0px auto;
    left: 0px;
    z-index: 500;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    span {
      overflow: auto;
      height: auto;
    }
    .share-svg {
      width: 20px;
      height: 20px;
    }
  }
  &.s-slider {
    z-index: 10; position: static;
    max-width: calc(728px - 6%);
    margin: 10px auto;
    float: none;
    opacity: 1;
    animation: none;
    display: flex;
    justify-content: space-evenly;
    .share-button {
      max-width: 220px;
      height: 50px;
      border-radius: 4px;
      margin: 2px;
      flex-grow: 1;
      flex-basis: 0;
    }
  }
  &.s-static {
    opacity: 1;
    position: relative;
    display: flex;
    max-width: 200px;
    height: 38px;
    justify-content: flex-start;
    margin: 0px;
    .share-button {
      width: 38px;
      height: 38px;
      margin: 0px 8px 0px 0px;
      border-radius: 4px;
      &:after {
        content: none;
      }
    }
  }
  &.s-cat {
    opacity: 1;
    animation: none;
  }
}


.social-sharing-bot {
  opacity: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1000;
  backface-visibility: visible;
  transform: none;
  span {
    display: inline-block;
    vertical-align: top;
  }
  img {
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 18px;
    padding: 0px;
    line-height: 30px;
    box-sizing: content-box;
  }
  a:first-child div {
    margin-left: 0;
  }
  @media (max-width: 1290px) {
  		margin-left: 0px;
  		left: 5px;
  }
  @media (min-width: 1271px) {
    top: 41%;
    text-align: left;
    max-width: 40px;
    margin-left: -4%;
    a {
      display: flex;
    }
  }
  @media (max-width: 1270px) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgba(255,255,255,.2);
    bottom: 0px;
    width: 100%;
    height: 50px;
    margin: 0px auto;
    left: 0px;
    z-index: 500;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    span {
      overflow: auto;
      height: auto;
    }
    .share-svg {
      width: 20px;
      height: 20px;
    }
  }
  &.s-slider {
    z-index: 10; position: static;
    max-width: calc(728px - 6%);
    margin: 10px auto;
    float: none;
    opacity: 1;
    animation: none;
    display: flex;
    justify-content: space-evenly;
    .share-button {
      max-width: 220px;
      height: 50px;
      border-radius: 4px;
      margin: 2px;
      flex-grow: 1;
      flex-basis: 0;
    }
  }
  &.s-static {
    opacity: 1;
    position: relative;
    display: flex;
    max-width: 200px;
    height: 38px;
    justify-content: flex-start;
    margin: 0px;
    .share-button {
      width: 38px;
      height: 38px;
      margin: 0px 8px 0px 0px;
      border-radius: 4px;
      &:after {
        content: none;
      }
    }
  }
  &.s-cat {
    opacity: 1;
    animation: none;
  }
}

.share-button {
  $square : 38px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: top;
  width: $square;
  height: $square;
  margin-bottom: 8px;
  overflow: hidden;
  border-radius: 2px;
  text-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2);
  opacity: .82;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  transition: .17s;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  @media (max-width: 1270px) {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    height: 52px;
    margin: 0px;
    padding: 4px;
    border-radius: 0px;
    &:after {
      content: attr(data-share);
      color: #fff;
      text-transform: capitalize;
      font-size: .64rem;
      letter-spacing: .08em;
      font-weight: 100;
      display: block;
      @media (max-width: 385px) {
        font-size: .56rem;
      }
      @media (max-width: 370px) {
        content: '';
      }
    }
  }
}
//branded button styles
.facebook-share {
	background: #00c6ff;
  background: linear-gradient(90deg, #005dff, #0028ef);
	}
.fb-messenger-share {
  background: #0072ff;
  background: linear-gradient(90deg, #0072ff, #00c6ff);
}
.twitter-share {
	background: #4776E6;
	background: linear-gradient(90deg, #0d00ff, #4b00ff);
	}
.comments-share  {
  background: #ff2e00;
  background: linear-gradient(90deg, #ff2e00, #ffcb01);
}

.flipboard-share {
  background: #e401be;
  background: linear-gradient(90deg, #e401be, #e8084c);
}
.reddit-share {
background: #FF512F;
background: linear-gradient(90deg,#F09819, #FF512F);
	}
.email-share {
  background:#6114ff;
	background: linear-gradient(90deg, #6114ff, #c000ff);
	}
.whatsapp-share {
  background: #00ff95;
	background: linear-gradient(90deg,#00ff95, #00af6e);
}
.copylink-share {
  background: #00ffb8;
  background: linear-gradient(90deg,#00ffb8, #1798b5);
}
.dots-share {
  background: #14c356;
  background: linear-gradient(90deg, #14c356, #11998e);
}
.instagram-share {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.linkedin-share {
  background: #0073b1;
  background: linear-gradient(90deg, #0073b1, #0f3a42);
}
.pinterest-share {
  background: #bd081c;
  background: linear-gradient(90deg, #bd081c, #ED213A);
}
.pocket-share {
  background: #ff4343;
  background: linear-gradient(90deg, #ff4343, #da0057);
}
.print-share {
  background: #b76148;
  background: linear-gradient(90deg, #b76148, #e0d051);
}
.line-share {
  background: #009200;
  background: linear-gradient(90deg, #009200, #00ff46);
}
.dots {
  $dotSize: 6px;
  width: 20px;
  height: 20px;
  display: contents;
  &-n {
    display: inline-block;
    position: relative;
    width: $dotSize;
    height: $dotSize;
    border-radius: $dotSize;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,.6);
    background: #fff;
    &:after, &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0px;
      width: $dotSize;
      height: $dotSize;
      border-radius: $dotSize;
      box-shadow: 0px 0px 12px 0px rgba(0,0,0,.6);
      background: #fff;
    }
    &:before {
      left: 1.5 * -$dotSize;
    }
    &:after {
      right: 1.5 * -$dotSize;
    }
  }
}


//ext
.more-sharing {
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  position: fixed;
  z-index: 8002;
  top: 50%;
  right: 0px;
  left: 0px;
  background: rgba(0,0,0,.64);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  color: #fff;
  width: 96%;
  height: auto;
  max-width: 96%;
  max-height: 96%;
  max-height: 92vh;
  max-width: 728px;
  margin: 0px auto;
  margin: -28vh auto 0px;
  padding: 16px 16px 44px;
  border-radius: 4px;
  line-height: 1.5;
  opacity: 0;
  box-shadow: none;
  transform: scale(0);
  transition:  0.17s ease-in-out;
  @media (max-width: 460px) {
    overflow: scroll;
    margin-top: -42vh;
  }
  &.is_active {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0px 0px 100vw 100vw rgba(0,0,0,0.32);
  }
  &-close {
    position: absolute;
    right: -8px;
    top: -8px;
    z-index: 2;
    margin: 4px 0px 0px auto;
    border: none;
    width: 28px;
    height: 28px;
    transition: transform .17s;
    cursor: pointer;
    filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.72));
    &:before, &:after {
      content: ' ';
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0;
      margin: 0px auto;
      height: 28px;
      width: 4px;
      border-radius: 4px;
      background-color: #fff;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover {
      transform: rotate(90deg);
    }
  }
  &-node {
    display: inline-flex;
    width: 49%;
    margin: 6px auto;
    float: left;
    &:nth-of-type(2n) {
      margin-left: 2%;
    }
    .share-button {
      justify-content: flex-start;
      flex-direction: row;
      padding: 0px 4%;
      width: 100%;
      height: 50px;
      border-radius: 4px;
      opacity: .92;
      .share-svg {
        margin: 0px 12px;
      }
      img {
        width: 20px;
        height: 20px;
        margin: 0px 12px;
      }
      &:after {
        content: attr(data-share);
        color: #fff;
        font-size: 1rem;
        text-transform: capitalize;
        font-weight: 600;
        @media(max-width: 374px) {
          font-size: .9rem;
          font-weight: 500;
        }
      }
    }
  }
  &-title {
    display: block;
    font-size: 1.75rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 24px rgba(0,0,0,0.72);
    position: sticky;
    z-index: 1;
    top: -16px;
  }
}
.copyconfirm {
  position: fixed;
  z-index: 8003;
  width: 200px;
  height: auto;
  background: #111;
  color: #fff;
  text-align: center;
  padding: 8px 16px;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  margin: -40px auto 0px;
  margin-left: -80px;
  line-height: 1.5;
}

.archive .social-sharing-controller {
  margin-left: 0;
  left: 4px;
}
