table {
  width: 95% !important;
  overflow: visible;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: .96rem;
  text-align: left;
  line-height: 1.5;
  color: #111;
  tbody tr:first-of-type {
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
    td {
      color: #000;
      font-weight: 600;
      font-size: 1rem;
    }
  }
}
tr:nth-of-type(2n) {
  background: #f0f1f5;
}
tr, td, th {
  border: #cecece 1px solid;
}
td, th {
  padding: 8px;
  vertical-align: middle;
  max-width: 200px;
  min-width: 145px;
}
//responsive
@media (max-width: 860px) {
  table {
    width: auto;
    height: auto;
    min-width: 100%;
    max-height: 320px;
  }
  td, th {
    width: auto !important;
    max-width: 100% !important;
    white-space: normal;
  }
}
.table-wrap {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  @media (max-width: 860px) {
    max-height: 320px;
  }
}

td {
  text-align: center;
}