@keyframes fade-in-move-right {
  0% {
      opacity: 0;
      transform: translateX(-2.8em);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

figure {
    position: relative;
    height: 0;
    margin: 0 auto 8px;
    padding-bottom: 60%;
    width: 100%;
    overflow: hidden;
    transition: padding .22s;
    .content-main img {
        width: 100%;
    }
}
.lazyload-container {
  width: 100%;
  padding-top: 60%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.llreplace {
  filter: blur(2vw);
  -webkit-filter: blur(2vw);
  transform: scale(1.02, 1.02);
}
.lazyload-img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform, filter, -webkit-filter;
  perspective: 1000;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  image-rendering: -webkit-optimize-contrast;
  object-fit: cover;
}
.content-main .chrommainline {
  display: inline;
  position: static;
  width: auto;
  height: auto;
  margin: 0px .2em;
  max-height: 1.343rem;
}
.reveal {
  filter: opacity(1) !important;
  -webkit-filter: opacity(1) !important;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation: reveal .6s ease-out;
}
.feat-widget-wrap .lazyload-img {
  width: 80px;
  height: 80px;
  position: relative;
}
@keyframes reveal {
  0% {filter: blur(2vw); -webkit-filter: blur(2vw);}
  100% {filter: blur(0); -webkit-filter: blur(0);}
}
.bubble {
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    line-height: 40px;
    background: #007aff;
    background: linear-gradient(135deg, #007aff, #4831ff);
    border-radius: 200px;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    top: -4px;
    -webkit-backface-visibility: hidden;
    z-index: 100;
}

.slide-tip {
    color: #1a1a1a;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(135deg, #5600ff, #ff007c);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    display: block;
    width: 100%;
    max-width: 500px;
    height: 46px;
    margin: 12px auto 0px;
    padding: 1px;
    border: 1px solid #fff;
    transition: transform .24s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
    overflow: hidden;
    &:hover {
      transform: scale(1.06);
    }
    .bubble {
        background: -webkit-linear-gradient(135deg, #5600ff, #9900cc);
        -webkit-text-fill-color: #fff;
    }
}

.slide-tip2 {
  text-align: center;
  margin: 0 auto;
  font-size: .91rem;
  opacity: .65;
  display: block;
  font-weight: 400;
  margin: 0px auto 25px;
}

p.has-drop-cap:not(:focus):first-letter, .dropcap {
  float: left;
  font-weight: 700;
  margin-right: 7px;
  letter-spacing: -.03em;
  margin-bottom: -.08em;
  font-size: 3.8rem;
  line-height: .875;
  color: #000;
}

.postappreciation {
  font-weight: 600;
}

@keyframes lift {
    100% {
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
        transform: translate(0, -2px);
    }
}

@keyframes textlift {
  100% {
      text-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2)
  }
}

.box-shadow-default {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
}

.box-shadow-nohover {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
}
.box-shadow-rise {
  transition: box-shadow .28s ease;
}

.box-shadow-rise:hover {
  &:before {
    z-index: 11;
  }
   &:after {
     z-index: 10;
   }
    box-shadow: 0 20px 64px -4px rgba(0,0,0,0.3);
    z-index: 9;
}

.box-shadow-default:hover,
.box-shadow-defaultfocus:not(:active)::after,
.box-shadow-default:active {
    animation: lift .2s linear;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  99% {
      opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
    transform: translateY(80px);
  }
}

.fade-in {
    opacity: 0;
    animation: fadeIn ease-in-out 1;
    animation-fill-mode: forwards;
    animation-duration: .2s;
}

.fade-out {
    animation: fadeOut ease-in-out 1;
    animation-fill-mode: forwards;
    animation-duration: .2s;
}


.fade-in-medium {
    animation-duration: 1s;
    animation-delay: 1s;
}

.blue-gradient {
    background: #00eaa5;
    background: linear-gradient(135deg, #007aff, #4831ff);
}

.purple-gradient {
    background: linear-gradient(-45deg, #ff2aa5, #8040ff, #433dff) !important;
}

.red-gradient {
    background: linear-gradient(90deg, #d31027, #ea384d);
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.55);
}

.op-gradient {
  background: $primary-color;
  @include triGradient(45deg);
}


#cat-toggle {
  cursor: pointer;
}

.alt-cat-cat {
  position: absolute;
  margin: 0 auto;
  color: #fff;
  font-weight: 400;
  padding: 2px 10px;
  border-radius: .6em;
  left: 10px;
  right: auto;
  bottom: -14px;
  z-index: 100;
  font-size: .75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 0px 4px #fff;
}

.green-gradient {
  background: linear-gradient(135deg, rgb(68, 230, 163), rgb(68, 200, 230));
}

.red-gradient2 {
  background: linear-gradient(-45deg, rgb(144, 0, 255), rgb(255, 0, 94));
}

.orange-gradient {
  background: #F7971E;
  background: linear-gradient(135deg, #FFD200, #F7971E);
}

.blurple-gradient {
  background: linear-gradient(135deg, #ff9b04, #ff2676);
}

.green-gradient-t {
    background: linear-gradient(135deg, rgba(68, 230, 163, .75), rgba(68, 200, 230, .75));
}

.red-gradient2-t {
    background: linear-gradient(-45deg, rgba(144, 0, 255, .75), rgba(255, 0, 94, .75));
}

.orange-gradient-t {
    background: linear-gradient(135deg, rgba(255, 210, 0, .75), rgba(247, 151, 30, .75));
}

.blue-gradient-t {
    background: linear-gradient(135deg, rgba(0, 122, 255, .75), rgba(72, 49, 255, .75));
}

.blurple-gradient-t {
    background: linear-gradient(135deg, rgba(255, 155, 4, .75), rgba(255, 38, 118, .75));
}

.logged-in #site #site-wrap #main-nav-cont {
    top: 30px !important;
}

.nav-links {
    display: none;
}

.ripple {
    overflow: hidden;
}

.ripple-effect {
    position: absolute !important;
    border-radius: 50% !important;
    width: 50px !important;
    height: 50px !important;
    background: white !important;
    animation: ripple-animation 2s;
    display: block !important;
}

@keyframes ripple-animation {
    from {
        transform: scale(1);
        opacity: 0.4;
    }
    to {
        transform: scale(100);
        opacity: 0;
    }
}

.parallax-move {
    background: #fff;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    overflow: hidden;
    margin: 0 auto;
    display: block;
}

.rating {
    span {
        font-size: 1.4rem;
        color: orange;
    }
}

.scroll-indicator {
    color: #8a8a8a;
    font-size: .9rem;
    text-align: center;
    margin: 5px auto;
    &::after,
    &::before {
        content: " ";
        border: solid #8a8a8a;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        position: relative;
        top: 0;
        bottom: 0;
    }
    &::after {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        right: -5px;
    }
    &::before {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        left: -5px;
    }
}

@media (min-width: 1024px) {
    .scroll-indicator {
        display: none;
    }
}

body,
.dragscroll,
.side-pop-wrap {
     ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }
     ::-webkit-scrollbar-track {
        background: transparent;
        border: transparent;
        opacity: .1;
    }
     ::-webkit-scrollbar-thumb {
        border-radius: 12px;
        background: rgba(0, 0, 0, 0.25);
    }
}

.anchor {
    visibility: hidden;
    position: relative;
    top: -70px;
}

@media (max-width: 960px) {
    .iphonexvideo {
        display: none;
    }
}
.comments-icon {
  float: right;
  position: relative;
  min-width: 76px;
  min-height: 41px;
  padding: 7px 42px 7px 7px;
  border: none;
  background: $primary-color;
  @include secondaryGradient(315deg);
  opacity: .9;
  color: #fff;
  font-size: .9rem;
  border-radius: 4px;
  float: right;
  margin: 8px;
  margin-right: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include transition();
  &:hover {
    transform: translateY(-2px);
    filter: saturate(2);
  }
  @media (max-width: 728px) {
    margin-right: 4%;
  }
  // &:after {
  //   content: '';
  //   position: absolute;
  //   bottom: -10px;
  //   left: 45px;
  //   border-width: 10px 0 0 14px;
  //   border-style: solid;
  //   border-color: rgba($primary-color, .88) transparent;
  //   border-image: linear-gradient(135deg, rgba($primary-color, .88), rgba($secondary-color, .88)) transparent;
  //   display: block;
  //   width: 0;
  // }
}
.gallery .comments-icon,
.giveaways .comments-icon,
.comments-icon.expand {
  float: none;
  width: 92%;
  max-width: 420px;
  padding: 12px;
  margin: 16px auto;
  font-size: 1.1rem;
  font-weight: 700;
  &:after {
    content: none
  }
  .comments-count {
    width: 15%;
  }
}

#disqus_thread {
  padding: 0px 4%;
}
.comments_overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  opacity: 0;
  background: rgba(0,0,0,.4);
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transition: opacity 0.24s ease-in-out;
  &.is-active {
    display: block;
    opacity: 1;
  }
}
.comments {
  &-count {
    margin: 0px 4px;
    border-left: 1px solid rgba(255, 255, 255, 0.27058823529411763);
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
  }
}
.comments-area {
  position: fixed;
  z-index: 850;
  top: 80px;
  right: 0px;
  left: 0px;
  min-height: 85%;
  max-height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  width: 96%;
  max-width: 717.33333px;
  margin: 0px auto;
  border-radius: 4px;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translateX(200%);
  transform: translateX(100vw);
  transition: transform 0.28s ease-in-out;
  &.is-active {
    transform: translateX(0px);
  }
}
.comments_title {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  width: 100%;
  padding: 12px 4%;
  margin: 0px auto 4px!important;
  font-weight: 800;
  font-size: 2rem;
  background: rgba(255,255,255,0.88);
  box-shadow: 0 0 18px rgba(0,0,0,0.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}
.comments_close {
  position: relative;
  right: 0px;
  top: 0px;
  z-index: 2;
  margin: 0px 0px 0px auto;
  border: none;
  width: 38px;
  height: 38px;
  border-radius: 38px;
  background: #ababab;
  opacity: .92;
  &:after, &:before {
    content: ' ';
    position: absolute;
    top: 7px;
    left: 1px;
    right: 0;
    margin: 0px auto;
    height: 26px;
    width: 3px;
    background-color: #fff;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
